
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">

		 <title><%= full_title(yield(:title)) %></title>
		
		<!-- external CSS link -->
	
		<%= stylesheet_link_tag    "application", media: "all" %>	
		<link href="http://fonts.googleapis.com/css?family=Nixie+One" rel="stylesheet" type="text/css">
		<link href="http://fonts.googleapis.com/css?family=Ledger" rel="stylesheet" type="text/css">	
		<link href="http://fonts.googleapis.com/css?family=Rancho" rel="stylesheet" type="text/css">
		<link href='http://fonts.googleapis.com/css?family=Alegreya:400,700' rel='stylesheet' type='text/css'>
		<%= javascript_include_tag "application" %>
   		<%= csrf_meta_tags %>
    	<!--[if lt IE 9]>
    	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
   		 <![endif]-->
	</head>

<body>
		<div id="container">
			<div id="box">
			
		<header class="pagehead">
			<h1>threejobs.</h1>
			<nav class="navig">
				<ul>
					<!-- active class will underline current page -->
					<li class="menu-upload">
					<%= link_to "Register",    'users/new' %>
					</li>
					<li class="menu-home active">
				        <%= link_to "Home",    root_path %>
					</li>
                <li><%= link_to "Profile", current_user %></li>
              
            <li><%= link_to "Sign in", 'sessions/new' %></li>
            </ul>
			</nav>
		</header>
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>

		 <%= yield %>
		
		
	<%= render 'layouts/footer' %>

 </div>
	</div>
</body>
